[submodule "nginx-script"]
	path = nginx-script
	url = git@github.com:wangweiX/nginx-script.git
[submodule "linux-script"]
	path = linux-script
	url = git@github.com:wangweiX/linux-script.git
[submodule "gxchain-monitor"]
	path = gxchain-monitor
	url = git@github.com:gxcdac/gxchain-monitor.git
